<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Troll-Finder</title>

  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/theme.min.css">
  <link href="/static/font-awesome.css" rel="stylesheet">
  <link href="/static/entypo.css" rel="stylesheet">
  <link href="/static/fontello.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
  <script src="/static/modernizr-2.6.2.min.js"></script>
  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div>
  <nav class="navbar navbar-default navbar-fixed-top fondoTrans"
       role="navigation">
    <div style="padding: 0 20px 0 20px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle margenArriba"
                data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse">

        <!--   -->
      </div>
    </div>
    <!--/.
nav-collapse -->

  </nav>
</div>


<div class="container">
  <div class="row vertical-center-row" id="controlInicio">
    <div class="col-lg-12">
      <div class="row margenSubtitulo">
        <h2 class="textoCentrado textoBlanco">Troll Finder</h2>
      </div>
      <div class="row margen_busca_home">
        <div class="col-md-6 col-md-offset-3">
          <form action="/search"
                class="form-inline" role="form" method="post" id="searchForm">
            <div class="input-group fondoFormHome">
              <div class="icon-addon addon-lg">
                <input type="text" class="form-control input-lg"
                       id="screen_name" name="screen_name"
                       placeholder="@suspicious user." required
                       autocomplete="off">
              </div>
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit" id="btnHome">
                  <span class="hidden-xs">Check</span>
                  <span class="visible-xs"><i class="fa fa-search"></i></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <br>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <p>Bot suspect</p>
      <div class="bot circle"><strong></strong></div>
    </div>
    <div class="col-md-2">
      <p>Activity rate</p>
      <div class="activity circle"><strong></strong></div>
    </div>
    <div class="col-md-2">
      <p>Toxicity level</p>
      <div class="toxicity circle"><strong></strong></div>
    </div>
    <div class="col-md-2">
      <p>Spam level</p>
      <div class="spam circle"><strong></strong></div>
    </div>
    <div class="col-md-2">
      <p>Inflammatory level</p>
      <div class="inflammatory circle"><strong></strong></div>
    </div>
    <div class="col-md-2">
      <p>Obscenity level</p>
      <div class="obscenity circle"><strong></strong></div>
    </div>
  </div>
</div>

<script src="/static/bootstrap.min.js"></script>
<script src="/static/circle-progress.js"></script>
<script src="/static/main.js"></script>
</body>
</html>

